LOKIT_IDENTITY_DB_USERNAME=
LOKIT_IDENTITY_DB_PASSWORD=
LOKIT_IDENTITY_DB_URL=

LOKIT_IDENTITY_GRPC_PORT=
LOKIT_IDENTITY_GRPC_TARGET=
LOKIT_IDENTITY_PORT=

LOKIT_IDENTITY_TLS_SERVER_KEYSTORE_PASSWORD=
LOKIT_IDENTITY_TLS_SERVER_TRUSTSTORE_PASSWORD=

LOKIT_ROLE_DB_USERNAME=
LOKIT_ROLE_DB_PASSWORD=
LOKIT_ROLE_DB_URL=

LOKIT_ROLE_GRPC_PORT=
LOKIT_ROLE_GRPC_TARGET=
LOKIT_ROLE_PORT=

LOKIT_ROLE_TLS_SERVER_KEYSTORE_PASSWORD=
LOKIT_ROLE_TLS_SERVER_TRUSTSTORE_PASSWORD=
LOKIT_ROLE_TLS_CLIENT_KEYSTORE_PASSWORD=
LOKIT_ROLE_TLS_CLIENT_TRUSTSTORE_PASSWORD=

LOKIT_ROOM_DB_USERNAME=
LOKIT_ROOM_DB_PASSWORD=
LOKIT_ROOM_DB_URL=

LOKIT_ROOM_GRPC_PORT=
LOKIT_ROOM_GRPC_TARGET=
LOKIT_ROOM_PORT=

LOKIT_ROOM_TLS_SERVER_KEYSTORE_PASSWORD=
LOKIT_ROOM_TLS_SERVER_TRUSTSTORE_PASSWORD=
LOKIT_ROOM_TLS_CLIENT_KEYSTORE_PASSWORD=
LOKIT_ROOM_TLS_CLIENT_TRUSTSTORE_PASSWORD=

LOKIT_CARD_DB_USERNAME=
LOKIT_CARD_DB_PASSWORD=
LOKIT_CARD_DB_URL=

LOKIT_CARD_GRPC_PORT=
LOKIT_CARD_GRPC_TARGET=
LOKIT_CARD_PORT=

LOKIT_CARD_TLS_SERVER_KEYSTORE_PASSWORD=
LOKIT_CARD_TLS_SERVER_TRUSTSTORE_PASSWORD=
LOKIT_CARD_TLS_CLIENT_KEYSTORE_PASSWORD=
LOKIT_CARD_TLS_CLIENT_TRUSTSTORE_PASSWORD=

LOKIT_DEVICE_DB_USERNAME=
LOKIT_DEVICE_DB_PASSWORD=
LOKIT_DEVICE_DB_URL=

LOKIT_DEVICE_GRPC_PORT=
LOKIT_DEVICE_GRPC_TARGET=
LOKIT_DEVICE_PORT=

LOKIT_DEVICE_TLS_SERVER_KEYSTORE_PASSWORD=
LOKIT_DEVICE_TLS_SERVER_TRUSTSTORE_PASSWORD=
LOKIT_DEVICE_TLS_CLIENT_KEYSTORE_PASSWORD=
LOKIT_DEVICE_TLS_CLIENT_TRUSTSTORE_PASSWORD=

LOKIT_DECISION_PORT=

LOKIT_DECISION_TLS_CLIENT_KEYSTORE_PASSWORD=
LOKIT_DECISION_TLS_CLIENT_TRUSTSTORE_PASSWORD=

LOKIT_REDIS_HOST=
LOKIT_REDIS_PORT=

LOKIT_RABBITMQ_USERNAME=
LOKIT_RABBITMQ_PASSWORD=
LOKIT_RABBITMQ_HOST=
LOKIT_RABBITMQ_PORT=

LOKIT_OAUTH_ISSUER_URI=
LOKIT_OAUTH_JWK_URI=

LOKIT_JWT_ROLE_CLAIMS=

LOKIT_KEYCLOAK_URL=
LOKIT_KEYCLOAK_REALM=

LOKIT_KEYCLOAK_CLIENT_ID=
LOKIT_KEYCLOAK_CLIENT_SECRET=
